<section class="vh-100 d-flex justify-content-center align-items-center bg-light-soft">
  <div class="card forgot-card p-4 border-0 shadow-sm">
    <h3 class="mb-4 text-center text-primary fw-semibold">Forgot Password</h3>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <!-- Email Input -->
      <div class="form-floating mb-3">
        <input 
          type="email" 
          class="form-control rounded-3" 
          id="emailInput"
          placeholder="Enter your email" 
          formControlName="email" 
          required />
        <label for="emailInput">Email address</label>
        <div 
          class="invalid-feedback d-block small" 
          *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid">
          Please enter a valid email
        </div>
      </div>

      <!-- Submit Button -->
      <button 
        class="btn btn-primary w-100 rounded-3 py-2 fw-semibold" 
        type="submit" 
        [disabled]="forgotForm.invalid || loading">
        {{ loading ? 'Sending...' : 'Send Reset Link' }}
      </button>
    </form>
  </div>
</section>
